<div id="vertical-menu" class="ui basic segment no-padding">
    <div class="ui top attached  header">Settings</div>
    <div class="ui secondary left aligned vertical fluid menu">
        <a class="item" routerLinkActive="active" [routerLink]="['/admin/dashboard']">
            Dashboard
        </a>
        <a class="item" routerLinkActive="active"  >
            Registration Report
        </a>
        <a class="item" routerLinkActive="active" >
            Compliance Report
        </a>
        <!-- <a class="item" routerLinkActive="active" [routerLink]="['version-one-detail']" *ngIf="checkPermission('ADMIN_V1_CONTRACTOR','read')">
            Version One Details
        </a> -->
    </div>
</div>
<div id="vertical-menu" class="ui basic segment no-padding">
    <div class="ui top attached  header">Students</div>
    <div class="ui secondary left aligned vertical fluid menu">
        <a class="item" routerLinkActive="active" >
            Dashboard
        </a>
        <a class="item" routerLinkActive="active"  >
            Registration Report
        </a>
        <a class="item" routerLinkActive="active" >
            Compliance Report
        </a>
        <!-- <a class="item" routerLinkActive="active" [routerLink]="['version-one-detail']" *ngIf="checkPermission('ADMIN_V1_CONTRACTOR','read')">
            Version One Details
        </a> -->
    </div>
</div>
<div id="vertical-menu" class="ui basic segment no-padding">
    <div class="ui top attached  header">Staff</div>
    <div class="ui secondary left aligned vertical fluid menu">
        <a class="item" routerLinkActive="active" >
            Dashboard
        </a>
        <a class="item" routerLinkActive="active"  >
            Registration Report
        </a>
        <a class="item" routerLinkActive="active" >
            Compliance Report
        </a>
    </div>
</div>

