<div class="ui  header top attached segment " style="background:#f9fafb">
    Victims' Profiles:
</div>
<div class="ui negative icon message" *ngIf="error">
    <i class="big info circle icon"></i>
    <div class="content">
        <p>{{error}}</p>
        <span style="cursor: pointer;" (click)="getCountries(countryParams.page)">click here </span> to try again.
    </div>
</div>
<div class="ui attached basic fill segment no-padding">
    <div class="ui top attached basic fill segment  ">
        <div class="ui column grid">
            <span>
                <div class="ui icon mini input" [ngClass]="{'loading':pending}" style="margin:5px">
                    <input type="text" placeholder="Search..." [formControl]="search">
                    <i class="search icon"></i>
                </div>
            </span>
            <span class="ui mini icon input" style="margin:5px">
                <label>Display
                    <sui-select class="selection" [ngModel]="total" style="min-width:4px" placeholder="Choose" (ngModelChange)="onDisplayRecords($event)">
                        <sui-select-option value="2"></sui-select-option>
                        <sui-select-option value="10"></sui-select-option>
                        <sui-select-option value="20"></sui-select-option>
                        <sui-select-option value="50"></sui-select-option>
                        <sui-select-option value="100"></sui-select-option>
                    </sui-select>
                    Rows</label>
            </span>

        </div>
        <div class="ui column grid">
            <div class="column">
            </div>
        </div>

    </div>

    <div style="width: 100%;overflow: auto;">
        <table class="ui celled table" *ngIf="audits && audits.length > 0" style="width: 100%;margin-bottom:0 !important">
            <thead class="bpp-table-header" style="background:#f8f8f8 !important;">
                <tr>
                    <th></th>
                    <th>Who Performed Activity</th>
                    <th>Activity Performed</th>
                    <th>Time Activity Started</th>
                    <th>Time Activity Ended</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let audit of audits; let i = index" class="bpp-table-data">
                    <td>{{i +1 }}</td>
                    <td>{{audit?.AuditName}}</td>
                    <td>{{audit?.AuditActivity}}</td>
                    <td>
                        <span *ngIf="audit?.AuditStartTime">
                            {{audit?.AuditStartTime | timeAgo}}
                        </span>
                    </td>
                    <td>
                        <span *ngIf="audit?.AuditEndTime">
                            {{audit?.AuditEndTime | timeAgo}
                        </span>

                    </td>

                </tr>
            </tbody>
        </table>
        <bpp-no-record-found *ngIf="audits && audits.length < 1"></bpp-no-record-found>
        <bpp-no-record-found *ngIf="!audits"></bpp-no-record-found>
        <sui-dimmer class="inverted" [(isDimmed)]="pending" isClickable="false">
            <div class="ui text loader">Loading</div>
        </sui-dimmer>
    </div>
</div>


<div class="ui vertical basic segment">
    <div class="ui two column grid">
        <div class="column middle aligned">
            <div class="ui medium labeled button">
                <div class="ui icon button">
                    <i class="database icon"></i>
                </div>
                <a class="ui basic label">
                    {{total}} Record(s)
                </a>
            </div>
        </div>
        <div class="column right aligned pagination menu">
            <sui-pagination class="small" [collectionSize]="total" [pageSize]="pageSize" [maxSize]="maxSize" [page]="page" (pageChange)="nextPage($event)">
            </sui-pagination>
        </div>
    </div>
</div>